<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Chervit\GroupPrice\Api\Data\ProfileInterface" type="Chervit\GroupPrice\Model\Profile" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cher_profile_grid_data_source" xsi:type="string">Chervit\GroupPrice\Model\ResourceModel\Profile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Chervit\GroupPrice\Model\ResourceModel\Profile\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">chervit_profiles</argument>
            <argument name="eventPrefix" xsi:type="string">cher_profile_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">cher_profile_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Chervit\GroupPrice\Model\ResourceModel\Profile</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Chervit\GroupPrice\Api\Data\ProfileInterface" xsi:type="string">Chervit\GroupPrice\Api\ProfileRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Chervit\GroupPrice\Api\Data\ProfileInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">chervit_profiles</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Chervit\GroupPrice\Api\Data\ProfileInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>